@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --nav-height: 100px;
}

.Poppins {
  font-family: 'Poppins';
}

::-webkit-scrollbar {
  width: 0px;
}

.section-height {
  height: calc(100vh - var(--nav-height));
}

.nav-height {
  height: var(--nav-height);
}


.active::after {
  content: "";
  height: 6px;
  width: 6px;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}